<ion-header>
     <!-- <ion-content  [fullscreen]="true"> -->
          <div style="text-align: center;margin: 15px;">
               <ion-label style="font-weight: 400; font-size: 1.5em;">Weather Forecast</ion-label>
          </div>
          <ion-searchbar animated="true" class="searchbar" placeholder="Search for city" [(ngModel)]="cityName" (ngModelChange)="getWeatherData()"></ion-searchbar>
          <div *ngIf="!loading">
               <ion-card class="cardStyle" >
                    <ion-item lines="none">
                         <p style="font-weight: 500; color:white;">Today's Report</p>
                         <ion-label slot="end" id="date">{{todayDate | date: "EEE dd MMM"}}</ion-label>
                    </ion-item>
                    <ion-item lines="none">
                         <span id="temp">
                         {{(weatherTemp?.temp -  273.15).toFixed(0)}}
                         <span style="font-size:1em; font-weight: bold; color:#f6b844; margin-right: 2px;">°C</span>
                         </span>
                         
                         <img slot="end" width="180px" height="180px" [src]=weatherIcon>
                    </ion-item>
                    <ion-item>
                         <ion-icon name="location" id="locationIcon"></ion-icon>
                         <span>{{cityName}}</span>
                    </ion-item>
               </ion-card>

               <ion-card *ngIf="weatherTemp" class="cardStyle">
                    <ion-item>
                         <span>Maximum Temp</span>
                         <span slot="end">{{(weatherTemp.temp_max - 273.15).toFixed(0)}} °C</span>
                    </ion-item>
                    <ion-item>
                         <span>Minimum Temp</span>
                         <span slot="end">{{(weatherTemp.temp_min - 273.15).toFixed(0)}} °C</span>
                    </ion-item>
                    <ion-item>
                         <span>Humidity</span>
                         <span slot="end">{{weatherTemp.humidity}} %</span>
                    </ion-item>
               </ion-card>
          </div>
     <!-- </ion-content> -->
     <div *ngIf="loading" class="noData">
          <img src="assets/pic2.png" alt="pic1">
          <span style="font-weight: 400; font-size: 1em;">No Data</span>
     </div>
</ion-header>

